<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="elmajdma.bakingx">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:name=".MainActivity"
      android:theme="@style/Theme.AppTheme.Light.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <meta-data
      android:name="preloaded_fonts"
      android:resource="@array/preloaded_fonts"/>

    <receiver android:name=".recipewidget.RecipeIngredientWidget">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
        <!-- To receive broadcast with this string name -->
        <action android:name="elmajdma.bakingx.recipewidget.DATA_FETCHED"/>
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/recipe_ingredient_widget_info"/>
    </receiver>

    <service
      android:name=".recipewidget.WidgetService"
      android:permission="android.permission.BIND_REMOTEVIEWS">
    </service>
    <service android:name=".recipewidget.RemoteFetchService">
    </service>

    <activity android:name=".RecipeDetailsActivity"
      android:theme="@style/Theme.AppTheme.Light.NoActionBar">
    </activity>
  </application>

</manifest>